.status {
  display: flex;
  gap: 20px;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
}

.status-item {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.temperature {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.temperature-control {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#increase-temp,
#increase-humidity {
  padding-bottom: 12px;
}

.divider {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  color: #464343;
}