.status-swich {
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
}

.dashboard-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0 50px;
}

.status {
  display: flex;
  gap: 20px;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
  border-bottom: solid 1px;
}

.status-item {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.temperature {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.temperature-control {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#increase-temp,
#increase-humidity,
#increase-conditioning-temp,
#increase-conditioning-speed,
#increase-min-temp,
#increase-max-temp {
  padding-bottom: 12px;
}

.divider {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  color: #464343;
}

.usage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0 50px;
  font-size: 16px;
}

.usage-alarm {
  padding-left: 25px;
}

.usage-item {
  text-align: center;
  border-top: solid 1px;
  border-color: #005c00;
  border-radius: 10%;

}

.usage-item p {
  position: relative;
}

.usage-item p::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: #444444;
}

.usage-value {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  color: #464343;
  display: block;
}

.dashboard-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #464343;
}

.usage-toolbar {
  text-align: center;
}