<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img class="header__logo" src="./images/main.png"
            alt="Logo" width="40" height="40"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Smart Home</a>
          </li>
          <li class="nav-item nav-underline">
            <a class="nav-link" href="#">Bathroom</a>
          </li>
          <li class="nav-item nav-underline">
            <a class="nav-link" href="#">Hall</a>
          </li>
          <li class="nav-item nav-underline">
            <a class="nav-link" href="#">Bedroom</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-plus fa-sm" style="color: #1f62d6;"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">Ukrainian</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user fa-xl"></i> Max
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Authorization</a></li>
                    <li><a class="dropdown-item" href="#">Registration</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"style="color: red;">Log out</a></li>
                  </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>