<div class="light">
    <span class="divider"><i class="fa-solid fa-minus fa-rotate-90 fa-2xl"></i></span>
    <p class="d-inline-flex gap-1">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Lighting <span class="badge text-bg-primary">off</span>
        </button>
    </p>
    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div class="light-button-off">
                <button id="light-off" class="btn" type="button">
                    <i class="fa-solid fa-power-off"></i>
                </button>
            </div>
            <div class="light__container">

                <div class="light__bathroom" id="bathroom-block">
                    <h5>Bathroom</h5>
                    <div id="light__bathroom-container" class="light-container btn-group" role="group"
                        aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck6">
                            <i class="fas fa-lightbulb fa-2x"></i> <br> Main light
                            <button class="btn badge text-bg-light d-none remove-light-item" data-target="btncheck6"
                                type="button">
                                <i class="fa-regular fa-rectangle-xmark fa-lg"></i>
                            </button>
                        </label>
                        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck7">
                            <i class="far fa-lightbulb fa-2x"></i> <br> Backlight
                            <button class="btn badge text-bg-light d-none remove-light-item" data-target="btncheck7"
                                type="button">
                                <i class="fa-regular fa-rectangle-xmark fa-lg"></i>
                            </button>
                        </label>
                    </div>
                    <div class="add-light-button">
                        <button id="add-light-item" class="btn badge text-bg-primary d-none" type="button">
                            <i class="fa-solid fa-plus fa-lg"></i>
                        </button>
                    </div>
                </div>

                <div class="light__hall" id="hall-block">
                    <h5>Hall</h5>
                    <div id="light__hall-container" class="light-container btn-group" role="group"
                        aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck4">
                            <i class="fas fa-lightbulb fa-2x"></i> <br> Main light
                            <button class="btn badge text-bg-light d-none remove-light-item" data-target="btncheck4"
                                type="button">
                                <i class="fa-regular fa-rectangle-xmark fa-lg"></i>
                            </button>
                        </label>
                        <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck5">
                            <i class="far fa-lightbulb fa-2x"></i> <br> Backlight
                            <button class="btn badge text-bg-light d-none remove-light-item" data-target="btncheck5"
                                type="button">
                                <i class="fa-regular fa-rectangle-xmark fa-lg"></i>
                            </button>
                        </label>
                    </div>
                    <div class="add-light-button">
                        <button id="add-light-hall-item" class="btn badge text-bg-primary d-none" type="button">
                            <i class="fa-solid fa-plus fa-lg"></i>
                        </button>
                    </div>
                </div>

                <div class="light__bedroom" id="bedroom-block">
                    <h5>Bedroom</h5>
                    <div id="light__bedroom-container" class="light-container btn-group" role="group"
                        aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck8">
                            <i class="fas fa-lightbulb fa-2x"></i> <br> Main light
                            <button class="btn badge text-bg-light d-none remove-light-item" data-target="btncheck8"
                                type="button">
                                <i class="fa-regular fa-rectangle-xmark fa-lg"></i>
                            </button>
                        </label>
                        <input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck9">
                            <i class="far fa-lightbulb fa-2x"></i> <br> Backlight
                            <button class="btn badge text-bg-light d-none remove-light-item" data-target="btncheck9"
                                type="button">
                                <i class="fa-regular fa-rectangle-xmark fa-lg"></i>
                            </button>
                        </label>
                    </div>
                    <div class="add-light-button">
                        <button id="add-light-bedroom-item" class="btn badge text-bg-primary d-none" type="button">
                            <i class="fa-solid fa-plus fa-lg"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="edit-button d-none">
                <button id="applay-light-el" type="button" class="btn btn-success">applay</button>
            </div>
            <button id="edit-light-el" type="button" class="btn btn-outline-dark">edit</button>
        </div>
    </div>
    <span class="divider"><i class="fa-solid fa-minus fa-rotate-90 fa-2xl"></i></span>
</div>
