<div class="usage">
    <div class="usage-item">
        <p>Water Usage: <span class="usage-value" id="water-usage">00000200 m³</span></p>
    </div>
    <div class="usage-alarm">
        <input type="checkbox" class="btn-check" id="btn-check-alarm" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btn-check-alarm">Security alarm system <i class="fa-regular fa-bell-slash"></i></label><br>
    </div> 
    <div class="usage-item">
        <p>Energy Usage: <span class="usage-value" id="energy-usage">0000150 kW/h</span></p>
    </div>
</div>

<div class="dashboard">
    <div class="usage-toolbar">
        <div class="dashboard-status">
            <div class="usage-flood">
                <input type="checkbox" class="btn-check" id="btn-check-flood" autocomplete="off" checked>
                <label class="btn btn-outline-success" for="btn-check-flood">Flood sensor <i class="fa-regular fa-circle-check"></i></label><br>
            </div> 
            <p class="dashboard-title">Status Dashboard</p>
            <div class="usage-fire">
                <input type="checkbox" class="btn-check" id="btn-check-fire" autocomplete="off" checked>
                <label class="btn btn-outline-success" for="btn-check-fire">Fire sensor <i class="fa-regular fa-circle-check"></i></label><br>
            </div>   
        </div>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-dark" for="btncheck1"><i class="fa-solid fa-house-lock fa-lg"></i></label>
          
            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label class="btn btn-outline-dark" for="btncheck2"><i class="fa-solid fa-moon fa-lg"></i></label>
          
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-outline-dark" for="btncheck3"><i class="fa-solid fa-battery-quarter fa-lg"></i></label>
          </div>
    </div>
</div>

<div class="status">
    <div class="status-item" id="weather-widget"><p></p></div>
    <span class="divider"><i class="fa-solid fa-minus fa-rotate-90 fa-2xl"></i></span>
    <div class="status-item" id="temp-inside">
        <button class="temperature-control" id="increase-temp"><i class="fas fa-chevron-up"></i></button>
        <p id="temperature-display"><i class="fa-solid fa-temperature-half fa-2xl"></i> inside <span id="temperature">22.0</span>°C </p>
        <button class="temperature-control" id="decrease-temp"><i class="fas fa-chevron-down"></i></button>
    </div>
    <span class="divider"><i class="fa-solid fa-minus fa-rotate-90 fa-2xl"></i></span>
    <div class="status-item" id="drop-inside">
        <button class="temperature-control" id="increase-humidity"><i class="fas fa-chevron-up"></i></button>
        <p><i class="fa-solid fa-droplet fa-2xl"></i> humidity <span id="humidity">55</span>% </p>
        <button class="temperature-control" id="decrease-humidity"><i class="fas fa-chevron-down"></i></button>
    </div>
    <span class="divider"><i class="fa-solid fa-minus fa-rotate-90 fa-2xl"></i></span>
    <div class="status-item" id="power-out">
        <p><i class="fa-solid fa-bolt fa-2xl"></i> out <span id="energy-consumption"></span> kW/h</p>
    </div>
</div>
