<div class="climate">
    <p class="d-inline-flex gap-1">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
            aria-expanded="false" aria-controls="collapseExample1" id="climateControlButton">
            Climate control
            <span class="badge text-bg-primary"> off </span>
        </button>

    </p>
    <div class="collapse show" id="collapseExample1">
        <div class="card card-body">
            <div class="climate-auto-mode">
                <input type="checkbox" class="btn-check" id="btn-check-auto-mode" autocomplete="off">
                <label class="btn btn-outline-success" for="btn-check-auto-mode">AUTO</label><br>
                <button id="auto-mode-settings" class="btn btn-emphasis" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseAutoSettings" aria-expanded="false" aria-controls="collapseAutoSettings">
                    <i class="fa-solid fa-circle-chevron-down fa-lg"></i>
                </button>
            </div>
            <div class="collapse" id="collapseAutoSettings">
                <div class="card card-body p-0 ">
                    <div class="climate-auto-settings">
                        <div class="status-item" id="user-min-temperature">
                            <button class="temperature-control" id="increase-min-temp"><i
                                    class="fas fa-chevron-up"></i></button>
                            <p><i class="fa-solid fa-temperature-quarter fa-2xl"></i> min <span id="user-min-temp">
                                </span>°C </p>
                            <button class="temperature-control" id="decrease-min-temp"><i
                                    class="fas fa-chevron-down"></i></button>
                        </div>
                        <div class="climate-auto-settings-description status-item">
                            <p class="auto-settings-description">Set a comfortable temperature range</p>
                        </div>
                        <div class="status-item" id="user-max-temperature">
                            <button class="temperature-control" id="increase-max-temp"><i
                                    class="fas fa-chevron-up"></i></button>
                            <p><i class="fa-solid fa-temperature-three-quarters fa-2xl"></i> max <span
                                    id="user-max-temp"> </span>°C </p>
                            <button class="temperature-control" id="decrease-max-temp"><i
                                    class="fas fa-chevron-down"></i></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="climate-controls">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="climateRadio1" id="climateRadio1"
                                autocomplete="off">
                            <label class="btn btn-outline-dark" for="climateRadio1">on</label>

                            <input type="radio" class="btn-check" name="climateRadio1" id="climateRadio2"
                                autocomplete="off" checked>
                            <label class="btn btn-outline-secondary" for="climateRadio2">off</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-fan fa-xl"></i> Air conditioning</h5>
                        <p class="card-text">Temperature control system for indoor comfort.</p>
                        <div class="collapse" id="collapseClimateModes">
                            <div class="card card-body">
                                <div class="btn-group" role="group" aria-label="Climate Mode Radio Buttons">
                                    <input type="radio" class="btn-check" name="climateModeRadio"
                                        id="climateModeRadioCool" autocomplete="off" checked>
                                    <label class="btn btn-outline-dark" for="climateModeRadioCool">Cool</label>

                                    <input type="radio" class="btn-check" name="climateModeRadio"
                                        id="climateModeRadioDry" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="climateModeRadioDry">Dry</label>

                                    <input type="radio" class="btn-check" name="climateModeRadio"
                                        id="climateModeRadioHeat" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="climateModeRadioHeat">Heat</label>
                                </div>
                                <div class="climate-conditioning-settings">
                                    <div class="status-item" id="user-conditioning-temp-fan">
                                        <button class="temperature-control" id="increase-conditioning-temp">
                                            <i class="fas fa-chevron-up"></i>
                                        </button>
                                        <p> <i class="fa-solid fa-temperature-half fa-2xl"></i> <span
                                                id="user-conditioning-current-temp">20</span>°C </p>
                                        <button class="temperature-control" id="decrease-conditioning-temp">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                    </div>
                                    <div class="status-item" id="user-conditioning-max-speed">
                                        <button class="temperature-control" id="increase-conditioning-speed">
                                            <i class="fas fa-chevron-up"></i></button>
                                        <p> <i class="fa-solid fa-fan fa-flip-vertical fa-xl"></i> <span
                                                id="user-conditioning-current-speed">1</span> speed</p>
                                        <button class="temperature-control" id="decrease-conditioning-speed">
                                            <i class="fas fa-chevron-down"></i></button>
                                    </div>
                                </div>


                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <input type="checkbox" class="btn-check" id="econaviCheckbox" autocomplete="off">
                                    <label class="btn btn-outline-success" for="econaviCheckbox">ECONAVI</label>

                                    <input type="checkbox" class="btn-check" id="nanoeGCheckbox" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="nanoeGCheckbox">NANOE-G</label>

                                    <input type="checkbox" class="btn-check" id="quietCheckbox" autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="quietCheckbox">QUIET</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="climateRadio2" id="climateRadio3"
                                autocomplete="off">
                            <label class="btn btn-outline-dark" for="climateRadio3">on</label>

                            <input type="radio" class="btn-check" name="climateRadio2" id="climateRadio4"
                                autocomplete="off" checked>
                            <label class="btn btn-outline-secondary" for="climateRadio4">off</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> <i class="fa-solid fa-fire fa-xl"></i> Heating boiler</h5>
                        <p class="card-text">Temperature control system for indoor comfort.</p>
                        <div class="heating-boiler-control">
                            <div class="collapse" id="collapseClimateModes">
                                <div class="card card-body">
                                    <p class="boiler-control-icon">
                                        <i class="fa-solid fa-faucet fa-xl"></i>
                                    </p>
                                    <div class="btn-group" role="group" aria-label="Climate Mode Radio Buttons">
                                        <input type="radio" class="btn-check" name="climateModeRadioWaterHeating"
                                            id="climateModeRadioCoolWaterHeating" autocomplete="off">
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioCoolWaterHeating">1</label>

                                        <input type="radio" class="btn-check" name="climateModeRadioWaterHeating"
                                            id="climateModeRadioDryWaterHeating" autocomplete="off">
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioDryWaterHeating">2</label>

                                        <input type="radio" class="btn-check" name="climateModeRadioWaterHeating"
                                            id="climateModeRadioHeatWaterHeating" autocomplete="off" checked>
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioHeatWaterHeating">3</label>

                                        <input type="radio" class="btn-check" name="climateModeRadioWaterHeating"
                                            id="climateModeRadioHeat4WaterHeating" autocomplete="off">
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioHeat4WaterHeating">4</label>

                                        <input type="radio" class="btn-check" name="climateModeRadioWaterHeating"
                                            id="climateModeRadioHeat5WaterHeating" autocomplete="off">
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioHeat5WaterHeating">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="heating-boiler-control">
                            <div class="collapse" id="collapseClimateModes">
                                <div class="card card-body">
                                    <p class="boiler-control-icon">
                                        <i class="fa-solid fa-house-fire fa-xl"></i>
                                    </p>
                                    <div class="btn-group" role="group" aria-label="Climate Mode Radio Buttons">
                                        <input type="radio" class="btn-check" name="climateModeRadioHeatingHeating"
                                            id="climateModeRadioCoolHeatingHeating" autocomplete="off">
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioCoolHeatingHeating">1</label>

                                        <input type="radio" class="btn-check" name="climateModeRadioHeatingHeating"
                                            id="climateModeRadioDryHeatingHeating" autocomplete="off">
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioDryHeatingHeating">2</label>

                                        <input type="radio" class="btn-check" name="climateModeRadioHeatingHeating"
                                            id="climateModeRadioHeatHeatingHeating" autocomplete="off" checked>
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioHeatHeatingHeating">3</label>

                                        <input type="radio" class="btn-check" name="climateModeRadioHeatingHeating"
                                            id="climateModeRadioHeat4HeatingHeating" autocomplete="off">
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioHeat4HeatingHeating">4</label>

                                        <input type="radio" class="btn-check" name="climateModeRadioHeatingHeating"
                                            id="climateModeRadioHeat5HeatingHeating" autocomplete="off">
                                        <label class="btn btn-outline-dark"
                                            for="climateModeRadioHeat5HeatingHeating">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-dark" id="settings-btn" data-bs-toggle="collapse"
                data-bs-target="#collapseClimateModes" role="button" aria-expanded="false"
                aria-controls="collapseClimateModes">
                Settings
            </button>
        </div>
    </div>
    <span class="divider"><i class="fa-solid fa-minus fa-rotate-90 fa-2xl"></i></span>
</div>